table {
background-color:green;
color: dark blue;
border-width: 1px;
}
th {
background-color: light gray;
color: green;
}
caption {
font-style: bold;
}
ul {
background-color:green;
color: dark blue;
font-size: 5pt;
width: 25%;
}
li {
background-color: light blue;
color: dark green;
font-size: 5pt;
list-style-type: none;
}
